@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollable-tabs {
  scrollbar-width: thin;
  scrollbar-color: #475569 transparent;
}

.scrollable-tabs::-webkit-scrollbar {
  height: 6px;
}

.scrollable-tabs::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable-tabs::-webkit-scrollbar-thumb {
  background-color: #475569;
  border-radius: 9999px;
}
